@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");

:root::-webkit-scrollbar {
  display: none;
}

:root {
  --text-font-family: "Ruda", sans-serif;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Ruda", sans-serif;
  font-size: 100px;
  height: 330dvh;
  user-select: none;
  /* cursor: none; */
  /* border: 5px solid white; */
}

/* #navbar {
  position: fixed;
  z-index: 100;
  width: 100dvw;
  height: 10dvh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(10px);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  border: 5px solid white; 
}

#nav-container {
  display: flex;
  flex-direction: row;
  height: 10dvh;
  justify-content: space-around;
  align-items: center;
  border: 5px solid white; 
  font-size: 3dvh;
}

button {
  font-family: var(--text-font-family);
  font-size: 1em;
  color: white;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  border-radius: 0.25em;
}

button:hover {
  letter-spacing: 0.25em;
  transform: scale(0.9) rotate(0deg);
} */

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100dvh;
  width: 100dvw;
  gap: 10dvh;
  /* border: 5px red solid; */
}

#about-me {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#erf {
  position: absolute;
  z-index: -1;
  height: 200dvh;
  animation: erf_mv;
  animation-timeline: scroll;
}

#about-me h1 {
  position: relative;
  font-size: 10dvw;
  text-align: center;
  margin-top: 25dvh;
  background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-me h3 {
  position: relative;
  margin-top: -10dvh;
  font-size: 3dvw;
  animation: bob 5s linear infinite;
}

#about-me h1,
#about-me h3 {
  background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes erf_mv {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50dvh);
  }
  100% {
    transform: translateY(100dvh);
  }
}

#whoami {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid white; */
} 

#whoami-container {
  display: flex;
  flex-direction: column;
  /* border: 5px solid white; */
}

#satern {
  position: absolute;
  z-index: 0;
  height: 200dvh;
  /* border: 5px solid white; */
}

#name, #pfp {
  margin-left: 5dvw;
  /* border: 5px solid white; */
}

#name {
  margin-top: 1dvh;
  margin-bottom: 1dvh;
  font-size: 2.5dvh;
  align-self: flex-start;
  font-weight: bolder;
  color: #58585d;
}

#pfp {
  margin-top: 10dvw;
  border-radius: 20px;
  width: 10dvh;
  animation: pfpAnim 1s linear;
}

@keyframes pfpAnim {
  0% {
    transform: translateY(0);
    filter: blur(2px);
  }
  50% {
    transform: translateY(-0.2dvh);
    filter: blur(5px);
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

#describe {
  text-wrap: wrap;
  font-size: 2.5dvh;

  margin-left: 5dvw;
  margin-right: 15dvw;
  height:15dvh;
  width: 40dvw;
  /* border: 5px solid white; */
}

/* #my-projects {
  border: 5px solid white;
}
*/

#cards {
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap: 5dvh;
  /* margin-top: -5dvh; */
  width: 50dvw;
  /* border: 1px solid blue;  */
}

#whatido {
  display: flex;
  flex-direction: column;
  gap: 5dvh;
  /* border: 5px solid red; */
}

#card_1, #card_2 {
  position: relative;
  width: 50dvw;
  height: 50dvh;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.5s;
}

.back_card {
  opacity: 0;
  transition: .5s;
}

#card_1:hover, #card_2:hover {
  box-shadow: 0px 0px 100px 3px #2a29a3;
}

#card_1:hover > .front_card, #card_2:hover > .front_card {
  opacity: 0;
  transition: .5s;
}

#card_1:hover > .back_card, #card_2:hover > .back_card {
  opacity: 1;
}

#card_1_name, #card_2_name {
  position: absolute;
  margin-left: 1dvw;
  top: 2.5dvh;
  padding: 1dvw;
  height: fit-content;
  font-size: 5dvh;
  /* border: 5px solid blue; */
}

#card_1_desc, #card_2_desc {
  position: absolute;
  height: fit-content;
  width: fit-content;
  margin-top: 2dvh;
  padding: 2dvh;
  font-size: 2dvh;
  margin-left: 1dvw;
  bottom: 2.5dvh;
  /* border: 5px solid white ; */
}

.hov {
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: 2dvh;
  font-size: 2dvh;
  bottom: 5%;
  left: 70%;
  color: #A9A9A9
}

#buystockPng, #bjPng {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px #ffffff;
  /* border: 5px solid white; */
}



#footer {
    display: flex;
    flex-direction: row;
    height: 10dvh;
    justify-content: space-around;
    align-items: center;
    font-size: 3dvh;
    /* border: 5px solid white;  */
}
  
button {
    font-family: var(--text-font-family);
    font-size: 1em;
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 0.25em;
}

button:hover {
    letter-spacing: 0.25em;
    transform: scale(0.9) rotate(0deg);
} 

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(5dvh);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
