@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

:root::-webkit-scrollbar {
    display: none;
  }

body {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Ruda", sans-serif;
    font-size: 100px;
    height: 370vh;
    /* border: 5px solid white; */
}   

#navbar {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    backdrop-filter: blur(10px);
    /* border: 5px solid white; */
}

#nav-container {
    display: flex;
    flex-direction: row;
    height: 2em;
    justify-content: space-around;
    /* border: 5px solid white; */
    font-size: 50px;
}

button {
    font-family: "Ruda", sans-serif;
    font-size: 50px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 0.25em;

}

button:hover {
    letter-spacing: 0.25em;
    transform: scale(0.9) rotate(0deg);
    background: radial-gradient();
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
    /* border: 5px red solid; */
}

#about-me h1, #about-me h3 {
    position: relative;
    color: white;
    top: 50%;
    transform: translateY(-150%);
    font-size: 200px;
    text-align: center;
    background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about-me h3 {
    font-size: 50px;
    animation: bob 5s linear infinite;
} 



@keyframes bob {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

#whoami {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    margin: 5px;
}

#whoami h2, #whoami p, #pfp{
    position: relative;
    color: white;
    font-size: 100px;
    /* border: 5px solid red; */
}

#whoami h2 {
    font-size: 40px;
    color: grey;
}

#whoami p {
    font-size: 50px;
} 

#pfp {
    /* width: 200px; */
    height: 200px;
    border-radius: 20px;
}

#whoami h2, #pfp {
    transform: translateY(-100px);
}

#cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 450px; 
    /* border: 5px solid blue;  */
}

#card_1, #card_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 20px;
    transition: 1s;
}

#card_1:hover, #card_2:hover {
    box-shadow: 0px 0px 100px 3px #2a29a3;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(30%);
    transition: all 0.5s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}